.PageContainer {
  background: #424242;
  padding: 125px 0 50px;
  color: whitesmoke;
}

.ContentContainer {
  max-width: 768px;
  padding: 0 1em;
  margin: auto;
}

.EditorContainer {
  background: #2b1d0e;
  color: white;
  font-family: 'Consolas';
  display: flex;
}

.EditorContainer h4 {
  margin: 0;
  color: #4CAF50;
  line-height: 23.2px;
  font-family: 'Consolas';
}

.EditorContainer p {
  margin-bottom: 23.2px;
}

.TabPanel {
  display: flex;
  padding-right: 0.5em;
}

.NumberContainer {
  width: 50px;
  color: #eee;
  margin: 0;
  padding: 0 0.7em;
  opacity: 0.5;
}

.NumberContainer li {
  margin: 0;
  text-align: center;
}

.TabsContainer {
  width: 100%;
}

.Tab {
  background: #4E342E;
  padding: 0.5rem 2rem;
  margin: 0;
  cursor: pointer;
}

.TabList {
  margin: 0;
  display: flex;
  background: #3E2723;
}

.ActiveTab {
  background: #0080FF;
}

@media screen and (min-width: 500px) {
  .ContentContainer {
    padding: 0 2em;
  }
}