.Container header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1rem 1.5rem;
}

.Container>header>Link {
  text-shadow: none;
  text-decoration: none;
  background-image: none;
}


.NavList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.Container ListLink {
  margin-right: 1rem;
}

.Spacer {
  margin-bottom: 113px;
}

@media screen and (min-width: 445px) {
  .Container header {
    justify-content: space-between;
  }
  .Spacer {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1000px) {
  .Container header {
    padding: 1.5rem 2rem;
  }

  .NavList {
    width: 400px;
  }
}
