html {
  /* background: black; */
  background: #f0f0f0;
}

ul {
  list-style: none;
}

.central-container {
  max-width: 768px;
  padding: 0 1em;
  margin: auto;
}

.page-spacer {
  padding: 125px 0 50px;
}